.App {
  text-align: center;
  background-color: #FEF9F5;
}

#content {
  margin: 0 auto;
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-content {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: inherit;
}

.landing {
  height: 100vh;
  width: inherit;
}

#web-header {
  margin-top: 5vh;
  width: 100%;
}

#name-tag {
  font-family: Karla;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #3C0000;
}

#link-header {
  width: 20vw;
}

.top-link {
  font-family: Karla;
  font-weight: bold;
  font-size: calc(12px + 1vmin);
  color: #000;
}

.landing-content {
  width: inherit;
  align-items: center;
  justify-content: center;
  margin-top: 7vh
}

.column-content {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

.big-name {
  font-family: Recoleta-SemiBold;
  font-size: 7vw;
  font-weight: bold;
  color: #774936;
  text-shadow: 0.3vw 0.3vw #DDB7AB;
  margin-top: -5%;
  margin-bottom: 0;
}

.big-name span {
  position: relative;
  opacity: 0;
  animation: move-text 0.6s forwards;
}

@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}

.name-subtitle {
  font-family: Karla;
  font-weight: bold;
  font-size: 2.5vw;
  color: #774936;
  margin-top: 0;
  margin-bottom: 0;
}

.social-icon {
  height: 5vw;
  width: 5vw;
  border-radius: 2vw;
  background-color: #999b84;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5vw;
  margin-top: 3vh
}

#location-element {
  margin-top: 5%;
  width: 70%
}

#location-pin {
  color: '#999b84';
  font-size: '60px';
}

#picture {
  margin-top: 5%
}

.section-header {
  font-family: sans-serif;
  font-size: calc(24px + 2vmin);
  font-weight: bolder;
  color: #FEF9F5;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px #774936;
  align-self: flex-start;
}

#about:hover {
  background-size: 200% auto;
  background-image: linear-gradient(to bottom, #FEF9F5 50%, #f9d5cc 50%);
  background-position: 0% 0;

  animation-name: highlight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes about::hover {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}

.intro-paragraph {
  font-family: Karla;
  display: flex;
  flex: 3;
  padding-right: 5%;
  text-align: left;
  line-height: 150%
}

.highlight {
  background-color: #f9d5cc;
}

.comment-box {
  font-family: Karla;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex: 2;
  height: auto;
  width: auto;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #774936;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%
}

.comment-line {
  margin-top: 2%;
  margin-bottom: 2%;
}

.comment-label {
  color: #774936;
}

.project-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.project-name {
  color: #774936;
  font-family: Recoleta-SemiBold;
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  #link-header {
    width: 25vw;
  }
}
