.App {
  text-align: center;
  background-color: #FEF9F5;
}

#content {
  margin: 0 auto;
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-content {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: inherit;
}

#web-header {
  margin-top: 5vh;
  width: 100%;
}

#name-tag {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #3C0000;
}

#link-header {
  width: 20vw;
}

.top-link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc(12px + 1vmin);
  color: #000;
}

.intro-blurb {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

.big-name {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc(45px + 2vmin);
  font-weight: bold;
  color: #FFFFFF;
  -webkit-text-stroke: 1.25px black;
  text-shadow: 3px 3px #000000;
  margin-top: -5%;
  margin-bottom: 0;
}

.name-subtitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  color: #774936;
  margin-top: 3%;
  margin-bottom: 0;
}

#location-element {
  margin-top: 5%;
  width: 70%
}

#location-pin {
  color: '#999b84';
  font-size: '60px';
}

#picture {
  margin-top: 5%
}

@media screen and (max-width: 767px) {
  #link-header {
    width: 25vw;
  }
}
