.App {
  text-align: center;
  background-color: #FEF9F5;
}

#content {
  margin: 0 auto;
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-content {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: inherit;
}

.landing {
  height: 100vh;
  width: inherit;
}

#web-header {
  margin-top: 5vh;
  width: 100%;
}

#name-tag {
  font-family: Karla;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #3C0000;
}

#link-header {
  width: 20vw;
}

.top-link {
  font-family: Karla;
  font-weight: bold;
  font-size: calc(12px + 1vmin);
  color: #000;
}

.top-link:hover {
  cursor: default
}

.landing-content {
  width: inherit;
  align-items: center;
  justify-content: center;
  margin-top: 7vh
}

.column-content {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

.big-name {
  font-family: Recoleta-SemiBold;
  font-size: 7vw;
  font-weight: bold;
  color: #774936;
  text-shadow: 0.3vw 0.3vw #DDB7AB;
  margin-top: -5%;
  margin-bottom: 0;
}

.big-name span {
  position: relative;
  opacity: 0;
  animation: move-text 0.6s forwards;
}

@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}

.name-subtitle {
  font-family: Karla;
  font-weight: bold;
  font-size: 2.5vw;
  color: #774936;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  -webkit-animation: fadein 1.25s forwards;
  -webkit-animation-delay: 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.social-icon {
  height: 4.25vw;
  width: 4.25vw;
  border-radius: 1.75vw;
  background-color: #999b84;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5vw;
  margin-top: 3vh;
  transition: 0.6s
}

.social-icon:hover {
  background-color: #636554;
}

#location-element {
  margin-top: 5%;
  width: 70%
}

#location-pin {
  color: '#999b84';
  font-size: '60px';
}

#picture {
  margin-top: 5%
}

.section-header {
  font-family: Recoleta-SemiBold;
  font-size: calc(30px + 2vmin);
  font-weight: bolder;
  color: #3C0000;
  align-self: flex-start;
  margin-bottom: 0;
}

#about:hover {
  background-size: 200% auto;
  background-image: linear-gradient(to bottom, #FEF9F5 50%, #f9d5cc 50%);
  background-position: 0% 0;

  animation-name: highlight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes about::hover {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}

.intro-paragraph {
  font-family: Karla;
  font-size: 1.1em;
  letter-spacing: -0.0125em;
  display: flex;
  flex: 4;
  padding-right: 5%;
  text-align: left;
  line-height: 150%;

}

.highlight {
  background: linear-gradient(180deg, #FEF9F5 40%, #f9d5cc 60%);
}

.comment-box {
  font-family: Karla;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex: 3;
  min-width: 400px;
  height: auto;
  border-radius: 15px;
  background: #999B84;
  box-shadow: inset 30px 30px 60px #828470,
            inset -30px -30px 60px #b0b298;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 3%
}

.comment-line {
  margin-top: 2%;
  margin-bottom: 2%;
  color: #ffffff;
  font-size: 1.1em;
}

.comment-label {
  color: #3C0000;
}

.project-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  display: flex;
  margin-top: 10px;
}

.project {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: inherit;
  margin-top: 20px;
}

.project-name {
  color: #774936;
  font-family: Recoleta-Thin;
  font-weight: bolder;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

.project-description {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex: 3;
  padding-left: 5%;
}

.project-pic {
  display: flex;
  flex: 4;
  width: auto;
  height: 50vh;
  background-color: #DFE7E8;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  #link-header {
    width: 25vw;
  }
}
